@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    * {
        font-family: "Poppins", system-ui, sans-serif;
    }
}

input {
    border: 1px solid #ccc; /* Example: Add a custom border */
    border-radius: 4px; /* Example: Rounded corners */
  }

  input:focus {
    outline: none; /* Removes the focus outline */
    border-color: #ec4899; /* Example: Change border color on focus */
    box-shadow: 0 0 3px #f472b6; /* Example: Add a focus shadow */
  }
